@import "vars";

//Index + form

.pref-about {
  position: relative;

  margin: 37px auto 50px;
}

.pref-about__header {
  max-width: 260px;
  margin: 0 auto;
  @media (min-width: 400px) {
    max-width: 520px;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    margin-top: 40px;
  }
}

.pref-about__title {
  @include title-text;

  margin: 0 0 20px 0;
  padding: 0;

  font-size: 18px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 21px;
  }
}
  .pref-about__subtitle {
    display: inline-flex;
    flex-wrap: nowrap;
    margin-top: 0;
    justify-content: center;
    line-height: 26px;
    text-align: center;

  }


  //Form

.prev-about--clipped {
  @media (max-width: 768px) {
    border-bottom: $border;
  }
}